* {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*flex direction 기준*/
    justify-content: center;
    /*나머지 축 기준*/
    align-items: center;
}

.title {
    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}